body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b2 {
    flex: 1;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cardbox {
    display: flex;}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 200px;
    border: 5px solid red;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 5px solid blue;
}

.bigquote {
    text-align: center;
    background-color: lightgray;
}